<div id="todo-management">
		<!-- a snackbar to display messages -->
		<div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
		  <div class="mdl-snackbar__text"></div>
		  <button class="mdl-snackbar__action" type="button"></button>
		</div>
		<div class="mdl-textfield mdl-js-textfield">
		    <input #content (keyup)="onToDoContentType(content.value)" class="mdl-textfield__input" type="text" id="content">
		    <label class="mdl-textfield__label" for="content">ToDo Content...</label>
		</div>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" [disabled]="disableAddBtn" (click)="addToDo()" >Add a toDo</button>
		<div>
			<div>
				<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="pending">
					<input type="checkbox" class="mdl-switch__input" id="pending" [checked]="showPending" (change)="showPending = !showPending" />
					<span class="mdl-switch__label">Show pending</span>
				</label>
			</div>
			<div>
				<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="completed">
					<input type="checkbox" class="mdl-switch__input" id="completed" [checked]="showCompleted" (change)="showCompleted = !showCompleted" />
					<span class="mdl-switch__label">Show completed</span>
				</label>
			</div>
		</div>

</div>
<em-todo-list
		[toDolist]="toDoList"
		[showPending]="showPending"
		[showCompleted]="showCompleted"
		(rmToDo)="removeToDo($event)" 
		(completeToDo)="completedToDo($event)" >
</em-todo-list> 
